<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE 340 Final Project - GardenGrow API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="./css/player_style.css"> 
  </head> 
  <body>
    <header>
      <div>
        <h1>Plant View</h1>
      </div>      
    </header>
    <main>
      <section id="plantlistpage">
          <table class="table table-sortable">
            <tbody id="availbody">
                <tr><td style="padding: 2px 10px;">Plant Name: </td><td>Tulip</td></tr>
                <tr><td style="padding: 2px 10px;">Plant Scientific Name: </td><td>Tulipia</td></tr>
                <tr><td style="padding: 2px 10px;">Plant Height: </td><td>30</td></tr>
            </tbody>
          </table>      
      </section>
    </main>
    <footer>
      <p>Total Plants = x</p><br>
    </footer>
  </body>
</html>
